<div class="container mt-5 ">
	<!-- FORM -->
	<div class="card mb-3">
		<div class="card-body">
			<form (submit)="onSubmit()">
				<div class="form-group">
					<label for="name">Name *</label>
					<input
						[(ngModel)]="userInputs.name"
						[ngClass]="{ 'is-invalid': nameInvalid }"
						type="text"
						class="form-control "
						id="name"
						name="name"
					/>
					<div class="invalid-feedback">
						Please enter a valid name.
					</div>
				</div>
				<div class="form-check">
					<input
						[(ngModel)]="userInputs.gender"
						name="gender"
						class="form-check-input"
						type="radio"
						id="male"
						value="male"
					/>
					<label class="form-check-label" for="male">
						Male
					</label>
				</div>
				<div class="form-check">
					<input
						[(ngModel)]="userInputs.gender"
						name="gender"
						class="form-check-input"
						type="radio"
						id="female"
						value="female"
					/>
					<label class="form-check-label" for="female">
						Female
					</label>
				</div>
				<h4 class="mb-1 mt-3">Contact Information</h4>
				<hr class="mt-0" />
				<div class="row mb-4">
					<div class="col">
						<label for="email">Email</label>
						<input
							[(ngModel)]="userInputs.email"
							[ngClass]="{ 'is-invalid': emailInvalid }"
							name="email"
							type="email"
							class="form-control"
							id="email"
							aria-describedby="emailHelp"
						/>
						<small id="emailHelp" class="form-text text-muted"
							>We'll never share your email with anyone else.</small
						>

						<div *ngIf="emailInvalid" class="invalid-feedback">
							Please enter a valid email.
						</div>
					</div>
					<div class="col">
						<label for="phone">Telephone</label>
						<input
							[(ngModel)]="userInputs.phone"
							type="text"
							class="form-control"
							id="phone"
							name="phone"
						/>
					</div>
				</div>
				<div class="text-right">
					<button
						(click)="clearInputFields()"
						type="button"
						class="btn btn-light mr-2 custom-action-btn"
					>
						Cancel
					</button>
					<button type="submit" class="btn btn-primary custom-action-btn">
						Save
					</button>
				</div>
			</form>
		</div>
	</div>

	<!-- USERS LIST -->
	<div class="card">
		<div class="card-body pb-1">
			<div
				*ngFor="let user of users$; index as i"
				class="alert alert-info alert-dismissible"
				[className]="user.gender === 'female' ? 'alert-danger' : 'alert-info'"
				role="alert"
			>
				<div class="row">
					<div class="col text-left">{{ user.name }}</div>
					<div class="col text-right">
						<span>{{ user.email }}</span>
						<span *ngIf="user.email && user.phone"> l </span>
						<span>{{ user.phone }}</span>
					</div>
				</div>
				<button
					type="button"
					class="close"
					data-dismiss="alert"
					aria-label="Close"
					(click)="onDelete(i)"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div>
</div>
